#wrapper {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, auto);
}

#wrapper div {
    background-color: black;
    color: white;
    padding: 20px;
    border-style: dashed;
    margin:5px;
}

#wrapper #last-div div {
    background-color: pink;
    color: black;
    border-style: none;
}

#a {
    grid-row: 1;
    grid-column : 1 / span 2;
}

#b {
    grid-row: 1;
    grid-column : 3 / span 2;
}

#c {
    grid-row: 2;
    grid-column: 1 / span 2;
}

#last-div {
    grid-row : 2;
    grid-column: 3 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#g {
    grid-column: 1 / span 2;
}


@media (min-width: 200px) and (max-width: 600px) {
    #wrapper {
        display: block;
    }
}