body {
    font-family: courier;
    margin: 0;
    padding: 0;
    background-color: #182335;
}

header {
    background-color: #EEAF9D;
    color: #182335;
    padding: 20px;
    text-align: center;
    font-family: Gill Sans;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px;
}

header nav ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #E15546;
}

header nav ul li a:hover {
    background-color: #DC3A29;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.little-box {
    color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;
    width: 45%;
    height: 200px;
    background-color: #182335;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
